* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background: green;
}

.start-button
.question-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.start-button button {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 30px;
}

.question-container {
    width: 500px;
    border-radius: 5px;
    display: grid
}

.question-container header {
    height: 70px;
    padding: 0 30 px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;

}

.question-container header .title {
    font-size: 20px;
    font-weight: bold;
}

.question-container header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    padding: 0 8px;
}

.question-container header .timer .timer-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;

}