* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh:
}

.container {
    width: 600px;
    max-width: 60%;
    border-radius: 5px;
    padding: 10px;
}
