* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh
    
}

h1 {
    position: absolute;
    top: -1px;
    font-size: 100px;
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.container {
    width: 500px;
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    outline: auto;
    
    
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px;

}

.answers {
    border: 1px;
    border-radius: 5px;
    padding: 10px;
}

.button:hover {
    border-color:black;
}

#next-button {
    font-weight: bold;
}